.header__message
  .header__message--group
    .group
      = @group.name
    .member
      - @group.users.each do |user|
        = user.name
  .edit-btn
    = link_to "Edit", edit_group_path(params[:group_id]), method: :get
