.contents{
  &__side{
    width: 300px;
    color: $white;
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    display: block;
    float: left;
    overflow: scroll;
    .group{
      color: $white;
      font-weight: bold;
      .name{
        color: $white;
        font-size: 15px;
        margin: 20px 20px 5px 20px;
      }
      .message{
        color: $white;
        font-size: 11px;
        margin: 0 20px 40px 20px;
      }
    }
    .group2{
      color: $white;
      font-weight: bold;
      .name{
        font-size: 15px;
        margin: 0 20px 5px 20px;
      }
      .message{
        font-size: 11px;
        margin: 0 20px 40px 20px;
      }
    }
    .group3{
      color: $white;
      font-weight: bold;
      .name{
        font-size: 15px;
        margin: 0 20px 5px 20px;
      }
      .message{
        font-size: 11px;
        margin: 0 20px 40px 20px;
      }
    }
  }
  &__message{
    border-top: solid 1px #eeeeee;
    overflow: scroll;
    width: calc(100vw - 300px);
    height: calc(100vh - 191px);
    background-color: #fafafa;
    display: block;
    float: right;
    .user1{
      margin: 46px 40px 10px 40px;
      user{
        font-size: 16px;
        color: $gray;
      }
      date{
        font-size: 12px;
        color: #999999;
      }
      .message{
        font-size: 12px;
        color: $black;
      }
    }
  }
  .form{
    background-color: gray;
    width: calc(100vw - 300px);
    height: 90px;
    float: right;
    position: relative;
    .new_message{
      display: flex;
      .input-box{
        background-color: $white;
        margin: 20px 0 20px 40px;
        width: 100%;
        &__text{
          background-color: $white;
          line-height: 45px;
          float: left;
          height: 50px;
          width: calc(100% - 70px);
          display: block;
          font-size: 16px;
          color: $gray;
          border: none;
          margin-right: 23px;
          // .input-box__text--icon__image{
          //   color: red;
          //   float: right;
          //   padding-right: 10px;
          //   line-height: 50px;
          //   .hidden{
          //     display: none; 
          //   }
          // }
        }
        // &__file{
        //   display: none;
        // }    
      }
      .input-box__icon{
        color: black;
        background-color: $white;
        margin: 20px 10px 20px 0;
        font-size: 33px
      }
      .hidden{
        display: none;
      }
      .submit-btn{
        background-color: $light-blue;
        font-size: 16px;
        color: $white;
        float: right;
        height: 50px;
        text-align: center;
        line-height: 50px;
        padding: 0 35px;
        margin: 20px 40px 20px 15px;
      }
    }
  }

}